   <div id="modal" class="hide">
      <div class="content">
        <div class="header">
          <h1>Pontos de Coleta</h1>
          <a href="#">Fechar</a>
        </div>
      
        <form action="/seach-results">
          <label for="seach">Cidade</label>
          <div class="seach field">
            <input type="text" placeholder="Pesquise por cidade"name="seach">
            <button>
              <img src="/icones/search.svg" alt="">
            </button>
          </div>
        </form>
      </div>
    </div>